{%extends 'main.html'%}
{% load static %}

{% block head %}
<title>Contact Us</title>
{% endblock %}
{% block content %}
    <div style="padding-top: 5.0rem" class="ml-8">
        <p class="max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-5xl text-white font-bold">Contact</p>
        <div class="grid grid-cols-2 gap-4 content-center">
            <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.66540302967!2d103.84659831475406!3d1.3774333989953969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da16e96db0a1ab%3A0x3d0be54fbbd6e1cd!2sSingapore%20Institute%20of%20Technology%20(SIT%40NYP)!5e0!3m2!1sen!2ssg!4v1666027498487!5m2!1sen!2ssg" 
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-96">
            </iframe>
            </div>
            <div class="p-6 max-w-sm rounded-lg border shadow-md bg-gray-800 border-gray-700 my-auto">
                <p class="max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-3xl text-white font-bold">Locate Us</p>
                <text class="max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-xl text-white font-normal">Phone: (+65) 12345678</text>
                <br>
                <text class="max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-xl text-white font-semibold">Hotel Ventura</text>
                <br>
                <text class="max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-xl text-white font-normal">172 Ang Mo Kio Ave 8, Singapore 567739</text>
            </div>
        </div>

        

    </div>
{% endblock %}