{% extends 'main.html' %}
{% load static %}

{% block head %}
<title>Hotel Ventura</title>
{% endblock %}

{% block content %}
    <div style="padding-top: 5.0rem">
        
<!-- This example requires Tailwind CSS v2.0+ -->
<!-- Hero Section -->
<section class="bg-gray-900">
    {% if verified == "true" %}
    <div id="alert-3" class="flex p-4 my-auto bg-green-100 rounded-lg dark:bg-green-200 mx-8 " role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-green-700 dark:text-green-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Info</span>
        <div class="ml-3 text-sm font-medium text-green-700 dark:text-green-800">
          Success! You have entered the Verification Code correctly and is Logged in. Do check out our <a href="{% url 'webroom' %}" class="font-semibold underline hover:text-green-800 dark:hover:text-green-900">Hotel Rooms</a>
        </div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8 dark:bg-green-200 dark:text-green-600 dark:hover:bg-green-300" data-dismiss-target="#alert-3" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
    {% endif %}

      
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-white">Hotel Ventura</h1>
            <p class="max-w-2xl mb-6 font-light  lg:mb-8 md:text-lg lg:text-xl text-gray-400">From Booking a room to Checking out, Ventura always provides the best hotel services. It is the fastest growing hotel in South East Asia. Do reserve a room with us if you want to receive world class services!</p>
            <a href="/register" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-900">
                Get started
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="/room" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center  border  rounded-lg  focus:ring-4  text-white border-gray-700 hover:bg-gray-700 focus:ring-gray-800">
                Book Now
            </a> 
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="{%static 'image/pngegg.png'%}" alt="mockup">
        </div>                
    </div>
</section>
<!-- End Hero Section-->

<!-- Booking Datepicker -->
<section class=" bg-gray-900">
    <p class="ml-8 max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-3xl text-gray-500 font-bold">Book your Vacation Now!</p>

    <div date-rangepicker class="flex items-center justify-center">
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </div>
          <input name="start" type="text" class=" border  sm:text-sm rounded-lg  block w-full pl-10 p-2.5  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Select date start" value={{date_placeholder}}>
        </div>
        <span class="mx-4 text-gray-500">to</span>
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </div>
          <input name="end" type="text" class=" border  sm:text-sm rounded-lg  block w-full pl-10 p-2.5  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="Select date end" value={{date_placeholder}}>
      </div>
      <!-- Select list -->
      <select name="guests" class="mx-5 text-white  hover:bg-gray-800 focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center bg-gray-400  focus:ring-blue-800" type="button"> Guests <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" >
        <option value="1">1 Guest</option>
        <option value="2">2 Guests</option>
        <option value="3">3 Guests</option>
        <option value="4">4 Guests</option>
        </select>
        <button class="items-center justify-center px-5 py-3 text-base font-medium text-center  border  rounded-lg  focus:ring-4  text-white border-gray-700 hover:bg-gray-700 focus:ring-gray-800">
            Book Now
        </button>
      </div>
</section>
<!-- End Booking Datepicker -->

<!-- Testimony-->

<section>
    <p class="max-w-2xl text-4xl font-serif md:text-5xl xl:text-6xl text-white text-center mt-8 ml-auto mr-auto">Guest Reviews</p>
    <div class="grid mb-8 rounded-lg border shadow-sm border-gray-700 md:mb-12 md:grid-cols-2 ml-3 mr-3 mt-5">
    <figure class="flex flex-col justify-center items-center p-8 text-center rounded-t-lg border-b  md:rounded-t-none md:rounded-tl-lg md:border-r bg-gray-800 border-gray-700">
            <blockquote class="mx-auto mb-4 max-w-2xl lg:mb-8 text-gray-400">
                <h3 class="text-lg font-semibold text-white">Very easy to Book a place</h3>
                <p class="my-4 font-light">If you care for your time, I hands down would go with Hotel Ventura."</p>
            </blockquote>
            <figcaption class="flex justify-center items-center space-x-3">
                <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
                <div class="space-y-0.5 font-medium text-white text-left">
                    <div>Bonnie Green</div>
                    <div class="text-sm font-light text-gray-400">Avid Traveller</div>
                </div>
            </figcaption>    
        </figure>
        <figure class="flex flex-col justify-center items-center p-8 text-center  rounded-tr-lg border-b bg-gray-800 border-gray-700">
            <blockquote class="mx-auto mb-4 max-w-2xl lg:mb-8 text-gray-400">
                <h3 class="text-lg font-semibold text-white">Solid 5 Stars!</h3>
                <p class="my-4 font-light"> The hospitality and services provided by each staff of the hotel were excellent, they attended us well at all times and we were impressed by their courtesy. We enjoyed our stay and convey thanks to all associated with the hotel.</p>
            </blockquote>
            <figcaption class="flex justify-center items-center space-x-3">
                <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
                <div class="space-y-0.5 font-medium text-white text-left">
                    <div>Roberta Casas</div>
                    <div class="text-sm font-light text-gray-400"></div>
                </div>
            </figcaption>    
        </figure>
        <figure class="flex flex-col justify-center items-center p-8 text-center  rounded-bl-lg border-b md:border-b-0 md:border-r bg-gray-800 border-gray-700">
            <blockquote class="mx-auto mb-4 max-w-2xl lg:mb-8 text-gray-400">
                <h3 class="text-lg font-semibold text-white">Mindblowing Service!</h3>
                <p class="my-4 font-light">The hotel is meticulous in its planning, providing excellent décor, signage and the like. Importantly, they never seemed to tire of the constant emails from an equally meticulous event manager. Always prompt and attentive.</p>
            </blockquote>
            <figcaption class="flex justify-center items-center space-x-3">
                <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
                <div class="space-y-0.5 font-medium text-white text-left">
                    <div>Jese Leos</div>
                    <div class="text-sm font-light text-gray-400"></div>
                </div>
            </figcaption>    
        </figure>
        <figure class="flex flex-col justify-center items-center p-8 text-center rounded-b-lg md:rounded-br-lg bg-gray-800 border-gray-700">
            <blockquote class="mx-auto mb-4 max-w-2xl lg:mb-8 text-gray-400">
                <h3 class="text-lg font-semibold text-white">Awesome Staffs</h3>
                <p class="my-4 font-light">I left something behind at the hotel and also wanted them to issue another receipt for tax purposes. They immediately worked on it and the receipt was sent in the hour by email. The item was returned within the day. Totally beyond my expectation. You can totally trust this hotel! Whilst staying there everything was so clean and the service was very attentive. Will always be a customer here.</p>
            </blockquote>
            <figcaption class="flex justify-center items-center space-x-3">
                <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
                <div class="space-y-0.5 font-medium text-white text-left">
                    <div>Joseph McFall</div>
                    <div class="text-sm font-light text-gray-400">CTO at Google</div>
                </div>
            </figcaption>    
        </figure>
    </div>
</section>

    </div>

{% endblock %}

