{% load static %}
<nav class="px-2 sm:px-0 py-0 bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-600">
  <div class="container flex flex-wrap justify-between items-center">
  <a href="/" class="flex items-center">
      <img src="{% static '/image/logo_white.svg' %}" class="mr-0.5 h-full w-full sm:h-20" alt="Hotel Ventura">
      <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Ventura</span>
  </a>
  <div class="flex md:order-2">
    
      <button id="dropdownDefault" data-dropdown-toggle="dropdown" type="button" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
      {% if not user.is_authenticated %} Get Started {% else %} User Actions {% endif %} </button>
        <div id="dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
            {% if not user.is_authenticated %}
            <li>
              <a href="{%url 'weblogin'%}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Login</a>
            </li>
            <li>
              <a href="{%url 'webregister'%}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Register</a>
            </li>
            {% else %}
            <li>
              <a href="{%url 'paybooking'%}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Bookings</a>
            </li>
            <li> 
              <a href="{%url 'weblogout'%}" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Logout</a>
            </li>
            {% endif %}
          </ul>
      </div>

      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
  </div>
  <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 mt-4 rounded-lg border md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 bg-gray-800 md:bg-gray-900 border-gray-700">
      <li>
        <a href="/" class="block py-2 pr-4 pl-3 bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 text-white" aria-current="page">Hotel</a>
      </li>
      <li>
        <a href="/about" class="block py-2 pr-4 pl-3 rounded md:p-0 md:hover:text-white text-gray-400 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">About</a>
      </li>
      <li>
        <a href="/contact" class="block py-2 pr-4 pl-3  rounded md:p-0 md:hover:text-white text-gray-400 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Contact us</a>
      </li>
      <li>
        <a href="/room" class="block py-2 pr-4 pl-3 rounded md:p-0 md:hover:text-white text-gray-400 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Book Now</a>
      </li>
    </ul>
  </div>
  </div>
</nav>