{%extends 'main.html'%}
{% load static %}

{% block head %}
<title>Hotel Rooms</title>
{% endblock %}
{% block content %}
<div style="padding-top: 5.0rem">
    <section class="bg-gray-900">
        <p class="max-w-2xl text-4xl font-serif md:text-5xl xl:text-6xl text-white text-center mt-8 ml-auto mr-auto">Room List</p>
        <div class="grid grid-cols-3 gap-0 items-center">
        {% for room in room_list %}
        <div class="max-w-sm rounded-lg border border-gray-200 shadow-md bg-gray-800 border-gray-700">
            <a href="payment/{{room.room_id}}">
                <img class="rounded-t-lg" src="../static/{{room.image_path}}" alt="{{room.image_path}}" />
            </a>
            <div class="p-5">
                <a href="payment/{{room.room_id}}"
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{room.room.room_type}} Size</h5>
                </a>
                <p class="mb-3 font-normal text-gray-400">{{room.room.room_description}}</p>
                <a href="payment/{{room.room_id}}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
                    Book Now!
                    <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
